# Exemplo de arquivo .env
# Copie este arquivo para .env e preencha com suas chaves locais

# Para gerar uma nova SECRET_KEY, rode no terminal:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=sua_chave_secreta_aqui

# Configurações do EmailJS
EMAILJS_SERVICE_ID=seu_service_id
EMAILJS_TEMPLATE_ID=seu_template_id
EMAILJS_PUBLIC_KEY=sua_public_key
EMAILJS_PRIVATE_KEY=sua_private_key

# Configurações do ReCAPTCHA (Opcional por enquanto)
RECAPTCHA_SECRET_KEY= ""

# Chave da API ReceitaWS Comercial (para busca de CNPJ)
RECEITAWS_API_TOKEN=sua_chave_receitaws
